<%= stylesheet_link_tag "jquery-ui-1.8.18.custom" %>
<%= javascript_include_tag "jquery-1.7.1.min","jquery-ui-1.8.18.custom.min","listhandler" %>
 <b>Title</b> : <%= route.title %> <br>
 <b>Sequence</b>: <%= route.sequence %> <br>
 <b>Photo</b>: <%= image_tag route.photo.url() %> <br>
<!-- SET min-height so these lists will be possible to drop back if they are empty -->

<b> Places in this Route </b>

<ol id="place-route" class="connected" style="min-height:50px">
	<% array = route.places.order('"places_routes"."sequence"').all.each_with_index do |v,i| %>
		<li class="old"> <div id=<%= v.id %>><%=v.title%></div> </li>
	<% end %>
</ol>

<b> Available Places </b>

<ul id="places" class="connected" style="min-height:50px">
	<% array = (Place.all).each do |p| %>
		<li id="place" class="new"><div id=<%= p.id %>><%=p.title%></div> </li>
	<% end %>
</ul>
<input type="submit" value="save" onclick="save()">