<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @route.title %>
</p>

<p>
  <b>Order:</b>
  <%= @route.order %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
